Flask
Flask-Session
python-dotenv
requests
beautifulsoup4
lxml
duckduckgo-search
aiohttp
google-generativeai
g4f==0.5.0.1
importlib-metadata==8.6.1
litellm==1.65.0
openai==1.69.0
pip==25.1.1
zipp==3.21.0
